.jlplg-lovecoding-cookie-info-container {
    position: fixed; 
    z-index: 50; 
    width: 100%;
    text-align: center;
    margin: 0;
}

.jlplg-lovecoding-cookie-info {
    display: inline-block;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
}

.jlplg-lovecoding-cookie-info a {
    color: inherit;
}

.jlplg-lovecoding-buttons {
    display: inline-block;
    margin-bottom: 10px;
}

.jlplg-lovecoding-cookie-accept-button, .jlplg-lovecoding-cookie-privacy-policy {
    padding: 5px 15px;
    border-radius: 4px;
    /* background-color: rgb(220, 241, 255); */
    border: 2px solid transparent;
    margin: 5px 0;
}

.jlplg-lovecoding-cookie-accept-button:hover, .jlplg-lovecoding-cookie-privacy-policy:hover {
    cursor: pointer;
}

.jlplg-lovecoding-cookie-accept-button:focus, .jlplg-lovecoding-cookie-privacy-policy:focus {
    border: 2px solid rgb(143, 143, 143);
    outline: none;
}

.button-text {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}